/.tmp/
/node_modules/
/.settings
target/
/.classpath
/.project
/.metadata
.idea/uiDesigner.xml
.idea/misc.xml
.DS_Store
.idea/libraries
.idea/copyright
.idea/shelf
.idea/workspace.xml
.idea/artifacts/*
.idea/uiDesigner.xml
*.iml
arcticweb.properties
wildfly-8.*
embryo-web/.buildpath
